.contact_form_button_wrap {

}
.contact_form_button_wrap a {
	display: block;
	height: 40px;
	line-height: 40px;
	width: 200px;
	margin: 0 auto;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid #ccc;
	background: #eee;
	color: #666;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-transition: all 300ms ease;
	   -moz-transition: all 300ms ease;
	    -ms-transition: all 300ms ease;
	     -o-transition: all 300ms ease;
	        transition: all 300ms ease;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
}
.contact_form_button_wrap a span {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	line-height: normal;
}
.contact_form_button_wrap a:hover,
.contact_form_button_wrap a:focus {
	background: #666;
	color: #FFF;
	outline-style: none;
}


.contact_form_popup {
	position: relative;
	width: 460px;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 4px #ccc;
	        box-shadow: 0 0 4px #ccc;
}
@media only screen and (max-width : 480px) {
	.contact_form_popup {
		width: 96%;
	}
}

.contact_form_popup .contact_form_wrapper {
	padding: 20px;
}
.contact_form_popup .contact_form_title {
	background: #eee;
	padding: 5px 10px;
	color: #666;
	font-weight: bold;
	font-size: 12px;
}



.contact_form {

}
.contact_form_wrapper {

}
.contact_form_description {
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;
}
.contact_form form {

}
.contact_form_item {
	margin-bottom: 5px;
}
.contact_form_item label {
	font-size: 14px;
}
.contact_form_item label sup {
	color: #f00;
}
.contact_form_item div {

}
.contact_form_item input {
	display: block;
	width: 100%;
	height: 26px;
	line-height: 26px;
	border: 1px solid #ccc;
	background: #FFF;
	font-size: 16px;

}
.contact_form_item input:hover,
.contact_form_item input:focus {
	border: 1px solid #666;
	outline-style: none;
}
.contact_form_button {
	padding-top: 10px;
}
.contact_form_button button {
	display: block;
	height: 40px;
	line-height: 40px;
	width: 90%;
	margin: 0 auto;
	padding: 0;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid #ccc;
	background: #eee;
	color: #666;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-transition: all 300ms ease;
	   -moz-transition: all 300ms ease;
	    -ms-transition: all 300ms ease;
	     -o-transition: all 300ms ease;
	        transition: all 300ms ease;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
}
.contact_form_button button span {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	line-height: normal;
}
.contact_form_button button:hover,
.contact_form_button button:focus {
	background: #666;
	color: #FFF;
	outline-style: none;
}
.contact_form_politic {
	text-align: center;
	font-size: 12px;
	padding-top: 20px;
}
.contact_form_close {
	position: absolute;
	z-index: 1;
	right: 10px;
	top: 5px;
	color: #666;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	/*width: 10px;
	height: 10px;
	line-height: 10px;
	overflow: hidden;
	text-indent: -200%;*/
	display: none;
}
.contact_form .contact_form_close:hover,
.contact_form .contact_form_close:focus {
	color: #ccc;
	outline-style: none;
}

.contact_form_success {
	color: #090;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
}
.contact_form_error {
	color: #900;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
}
